"[""*""]"
"i""n""d""e""n""t""_""s""i""z""e"" ""="" ""2"
"i""n""d""e""n""t""_""s""t""y""l""e"" ""="" ""s""p""a""c""e"
"e""n""d""_""o""f""_""l""i""n""e"" ""="" ""l""f"
"i""n""s""e""r""t""_""f""i""n""a""l""_""n""e""w""l""i""n""e"" ""="" ""t""r""u""e"