"#"" ""S""e""t"" ""t""h""e"" ""d""e""f""a""u""l""t"" ""b""e""h""a""v""i""o""r"","" ""i""n"" ""c""a""s""e"" ""c""o""r""e"".""a""u""t""o""c""r""l""f"" ""i""s"" ""n""o""t"" ""s""e""t""."
"*"" ""t""e""x""t""=""a""u""t""o"
