"H""E""A""D""E""R""<""{""{"
"u""s""e"" ""s""t""r""i""c""t"";"
"u""s""e"" ""w""a""r""n""i""n""g""s"";"

"#""#"
"#""#"" ""1"")"" ""G""e""n""e""r""a""t""e"" ""p""e""r""l"" ""s""t""u""b"" ""s""o""u""r""c""e"" ""c""o""d""e"":"
"#""#"" "" "" "" ""j""a""v""a"" ""-""j""a""r"" ""g""r""a""p""h""w""a""l""k""e""r""-""4"".""0"".""1"".""j""a""r"" ""s""o""u""r""c""e"" ""-""i"" ""m""o""d""e""l"".""g""r""a""p""h""m""l"" ""p""e""r""l"".""t""e""m""p""l""a""t""e"" "">"" ""m""o""d""e""l"".""p""e""r""l"
"#""#"
"#""#"" ""2"")"" ""S""t""a""r""t"" ""g""r""a""p""h""w""a""l""k""e""r"":"
"#""#"" "" "" "" ""j""a""v""a"" ""-""j""a""r"" ""g""r""a""p""h""w""a""l""k""e""r""-""4"".""0"".""1"".""j""a""r"" ""o""n""l""i""n""e"" ""-""s"" ""R""E""S""T""F""U""L"" ""-""m"" ""m""o""d""e""l"".""g""r""a""p""h""m""l"" """""r""a""n""d""o""m""(""e""d""g""e""_""c""o""v""e""r""a""g""e""(""1""0""0"")"")""""
"#""#"
"#""#"" ""3"")"" ""R""u""n"" ""t""h""e"" ""p""e""r"" ""p""r""o""g""r""a""m"":"
"#""#"" "" "" "" ""p""e""r""l"" ""l""o""g""i""n"".""p""e""r""l"" ""h""t""t""p"":""/""/""l""o""c""a""l""h""o""s""t"":""8""8""8""7""/""g""r""a""p""h""w""a""l""k""e""r"
"#""#"

"u""s""e"" ""L""W""P"":"":""S""i""m""p""l""e"";"

"m""y"" ""$""h""o""s""t"" ""="" ""$""A""R""G""V""[""0""]"";"

"w""h""i""l""e"" ""("" ""g""e""t"" ""$""h""o""s""t""."""""/""h""a""s""N""e""x""t""""" ""e""q"" """""t""r""u""e""""")""{"
" "" ""#"" ""G""e""t"" ""n""e""x""t"" ""s""t""e""p"" ""f""r""o""m"" ""G""r""a""p""h""W""a""l""k""e""r"
" "" ""m""y"" ""$""s""t""e""p"" ""="" ""g""e""t"" ""$""h""o""s""t""."""""/""g""e""t""N""e""x""t""""";"
" "" ""i""f"" ""(""$""s""t""e""p"" ""n""e"" ""'""'"")"" ""{"
" "" "" "" ""#"" ""R""u""n"" ""t""h""e"" ""s""t""e""p"
" "" "" "" ""e""v""a""l""("" ""$""s""t""e""p"" "")"" ""o""r"" ""d""i""e"";"
" "" ""}"
"}"
"}""}"">""H""E""A""D""E""R"
"#"
"#"" ""T""h""i""s"" ""s""u""b"" ""r""o""u""t""i""n""e"" ""i""m""p""l""e""m""e""n""t""s"":"" ""'""{""L""A""B""E""L""}""'"
"#"
"s""u""b"" ""{""L""A""B""E""L""}""("")"
"{"
" "" ""p""r""i""n""t"" """""{""L""A""B""E""L""}""\""n""""";"
"}"
"F""O""O""T""E""R""<""{""{"
"#""E""n""d"" ""o""f"" ""g""e""n""e""r""a""t""e""d"" ""s""o""u""r""c""e"" ""c""o""d""e"
"}""}"">""F""O""O""T""E""R"" "
